<!DOCTYPE html>
<html>

<head>


<title></title>




</head>
<body style="margin: 0;">
<header style="width:100%; background-color:#D94229;padding-top:10px; margin:0px">

<h1 style="margin-left:20px">login</h1>
    
    <nav style="background-color:#881301;width:100%;height:50px">

<ul style="display: flex;justify-content:space-around;">

<li style="list-style: none; padding:10px;"><a style="text-decoration:none ; color:antiquewhite" href="/api/sessions/github">Entrar con github</a></li>
<li style="list-style: none; padding:10px;"><a style="text-decoration:none ; color:antiquewhite" href="/register" >Registrarse</a></li>
<li style="list-style: none; padding:10px;"><a style="text-decoration:none ; color:antiquewhite"  href="/restablecer">olvidaste tu contraseña?</a></li>

</ul>


</nav>



</header>

<form style="margin:10px;" action="/api/sessions/login" method="post">
        
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">password:</label>
        <input type="text" id="password" name="password" required>
        
        <input type="submit" value="Enviar">

    </form>





</body>


</html>


