



<form id="send">

<label for="email">Email:</label>
<input type="email" id="email">


<button type="submit" id="sendbutton">Enviar Codigo</button>



</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/send.js"></script>