

<body style="display: flex; justify-content:center">



<div style="background-color: antiquewhite; width:30%">
<h1>Despues de Enviar ambos comprobantes de identidad presione Enviar Datos para volverse un usuario premium</h1>

<form action="/api/users/{{id}}/documents?document=C_I" method="post" enctype="multipart/form-data">
   
    <label for="C_I">Foto de tu cedula de identidad:</label>
    <input type="file" id="C_I" name="C_I" required>
     <br>
  

    <button type="submit">SEND</button>
   </form>

   <form action="/api/users/{{id}}/documents?document=C_D" method="post" enctype="multipart/form-data">
    
    <label for="C_D">Foto de comprobante de domicilio:</label>
    <input type="file" id="C_D" name="C_D" required>

    <button type="submit">SEND</button>
   </form>
      <a href="/api/users/premium/{{email}}">Enviar Datos</a>
</div> 
    

   
   <a href="/logout"> Cerrar Sesion</a>

</body>